{% assign yt = "https://www.youtube.com/watch?v=" %}
{% for holo in site.data.hololive %}
	{% assign holo_videos = site.data.holovideo[forloop.index0] %}
	{% if holo.region == {{include.region}} %}
		<div class="row">
			<div class="col-sm-2 center">
				<img src="{{ holo.image_path }}" class='rounded-circle' alt='Hololive'>
				<a href="{{ holo.url }}"><h5 class="extra-margin-top">{{ holo.name }}</h5></a>
			</div>
			{% for video in holo_videos %}
				<div class="col">
					<a href="{{ yt | append: video.videoId }}"><img src="{{ video.thumbnail.url }}" class='img-thumbnail' alt='Thumbnail'></a> 
					<h6>{{ video.title }}</h6>
				</div>
			{% endfor %}
		</div>
	{% endif %}
{% endfor %}